
<div class="welcome-container">
      <h1 class="welcome-title">{{ this.welcomeMessage() }}</h1>
    <h3 class="welcome-title-h2">I am an Angular trainer. I use the Angular framework to teach programming and web.</h3>
    <h3 class="welcome-title-h2">You'll learn more quickly with that approach.</h3>
    <h5>Este Conteúdo está disponível gratuitamente sob licença Creative Commons Internacional. Caso outro Formador esteja utilizando este material, por favor, mantenha os créditos.</h5>
    <h5>Aluno ou formando, este material está sendo desenvolvido para facilitar o aprendizado de programação de forma totalmente gratuita. Caso outro instrutor/formador esteja utilizando este conteúdo sem os devidos créditos, por favor, denuncie.</h5>
    <h6>Maiores informações no rodapé da página.</h6>
</div>
