

.welcome-container {
    width: 100vw;
    height: 75vh; /* Use viewport height para ocupar toda a altura */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove paddings padrão */
  }

  .welcome-title, .welcome-title-h2 {
    color: var(--background-color-sections);
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .welcome-title-h2 {
    font-size: 1.5rem;
  }

  /* Media Queries para ajustes específicos */
@media (max-width: 768px) {
    .welcome-container {
        background-attachment: scroll; /* Remove parallax em mobile */
    }

    .welcome-title {
        padding: 15px;
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .welcome-title {
        padding: 10px;
        font-size: 1.5rem;
        width: 95%;
    }
}
