<header class="header">
  <div class="local-header">
    <div class="local-header-content-left"></div>
    <div class="local-header-content">
      <h1>Bem vindo UC-UF5409 Engenharia de Software.</h1>
      <p>Definir a análise de requisitos e reconhecer a sua importância.</p>
    </div>

  </div>

  <!-- Imagens por programação -->
  <nav class="nav-content">
    <div class="nav-item has-expandable">
      <a routerLink="/welcome" class="logo-link">Welcome</a>
      <div class="submenu">

      </div>
    </div>
    <div class="nav-item has-expandable">
      <a routerLink="/uc-ufcd5409" class="logo-link">UC-UF5409</a>
      <div class="submenu">
        <!-- <div class="submenu-block">
        </div> -->
      </div>
    </div>


    <!-- Aulas e Exercicios -->
    <div class="nav-item has-expandable">
      <a class="logo-link">Engenharia de Software</a>
      <div class="submenu">
        <div class="submenu-block">
          <a class="logo-link"></a>
          <div class="submenu-sub">
            <a routerLink="/class/aula01" class="submenu-link">Aula 01</a>
            <a routerLink="/class/aula02" class="submenu-link">Aula 02</a>
            <a routerLink="/class/aula03" class="submenu-link">Aula 03 </a>
            <a routerLink="/class/aula04" class="submenu-link">Aula 04</a>
            <a routerLink="/class/aula05" class="submenu-link">Aula 05</a>
            <a routerLink="/class/aula06" class="submenu-link">Aula 06</a>
            <a routerLink="/class/aula07" class="submenu-link">Aula 07</a>
            <a routerLink="/class/aula08" class="submenu-link">Aula 08</a>
            <a routerLink="/class/trabalho-pratico-do-curso" class="submenu-link">Trabalho Final Em Grupos</a>

          </div>
        </div>
      </div>
    </div>





  </nav>



</header>
