<div class="body">
  <div class="header"><app-header /></div>
  <div class="main"><app-main /></div>
  <div class="footer"><app-footer /></div>

  @if (showWatermark) {
    <div class="watermark fade">
      @for (text of texts; track $index) {
        <div
          class="watermark-text"
          [style.top.%]="Math.random() * 100"
          [style.left.%]="Math.random() * 100"
          [style.transform]="'rotate(' + (-40 + Math.random() * 80) + 'deg)'"
        >
          {{ text }}
        </div>
      }
    </div>
  }
</div>

